

.pumpkin {
  height: 80vmin;
  width: 80vmin;
  background-image: url("./pumpkin.jpg");
  background-size: 100% 100%;
}

.options {
  height: 90%;
  width: 20%;
  border: 1px solid black;
}

.carveSpace {
  border: 1px solid black;
}

.leftEye {
  height: 20%;
  width: 20%;
  position: absolute;
  top: 35%;
  left: 20%;
}

.rightEye {
  height: 20%;
  width: 20%;
  position: absolute;
  top: 35%;
  right: 20%;
}

.mouth {
  height: 20%;
  width: 60%;
  position: absolute;
  bottom: 15%;
  left: 20%;
}